<div class="left_col scroll-view">
	<div class="navbar nav_title" style="border: 0;">
		<a th:href="@{'/admin/home/'}" class="site_title"><i class="fa fa-paw"></i>
			<span>Evaluación 360°</span></a>
	</div>

	<div class="clearfix"></div>

	<!-- menu profile quick info -->
	<div class="profile">
		<div class="profile_pic">
			<img
				th:src="@{/admin/images/img.jpg}"
				alt="..." class="img-circle profile_img">
		</div>
		<div class="profile_info">
			<span>Bienvenido,</span>
			<h2 th:text="${session.usuario.getUsuario()}"></h2>
		</div>
	</div>
	<!-- /menu profile quick info -->

	<br />

	<!-- sidebar menu -->
	<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
		<div class="menu_section">
			<h3>General</h3>
			<ul class="nav side-menu">
				<li>
					<a th:href="@{'/admin/docentes/'}">
						<i class="fa fa-user"></i> Docentes
					</a>
				</li>
				<!--
				<li><a><i class="fa fa-th-list"></i> Administración <span
						class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a href="#">Usuarios</a></li>
						<li><a href="#">Perfiles</a></li>
					</ul></li>
				<li><a><i class="fa fa-clone"></i> Organización <span
						class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a href="#">Facultades</a></li>
						<li><a href="#">Departamentos</a></li>
						<li><a href="#">Áreas</a></li>
						<li><a href="#">Escuelas</a></li>
						<li><a href="#">Stocks</a></li>
					</ul></li>
				<li><a><i class="fa fa-globe"></i> Administración RH <span
						class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a href="#">Perfil Puesto</a></li>
						<li><a href="#">Cargo</a></li>
					</ul></li>
				<li><a><i class="fa fa-pencil"></i> Evaluación 360° <span
						class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a href="#">Competencias</a></li>
						<li><a href="#">Comportamientos</a></li>
						<li><a href="#">Evaluación 360°</a></li>
					</ul></li>
				<li><a><i class="fa fa-bar-chart-o"></i> Estadísticas<span
						class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a href="#">Clasificación general</a></li>
						<li><a href="#">Clasificación por Facultad</a></li>
						<li><a href="#">Clasificación por Departamento</a></li>
						<li><a href="#">Clasificación por Escuela</a></li>
					</ul></li> -->
			</ul>
		</div>

	</div>
	<!-- /sidebar menu -->

	<!-- /menu footer buttons -->
	<div class="sidebar-footer hidden-small" style="z-index: 1;">
		<a data-toggle="tooltip" data-placement="top" title="Settings"> <span
			class="fa fa-cog" aria-hidden="true"></span>
		</a> <a data-toggle="tooltip" data-placement="top" title="FullScreen">
			<span class="fa fa-expand" aria-hidden="true"></span>
		</a> <a data-toggle="tooltip" data-placement="top" title="Lock"> <span
			class="fa fa-eye-slash" aria-hidden="true"></span>
		</a> <a data-toggle="tooltip" data-placement="top" title="Logout"> <span
			class="fa fa-power-off" aria-hidden="true"></span>
		</a>
	</div>
	<!-- /menu footer buttons -->
</div>